[submodule "base-image/meta-openembedded"]
	path = base-image/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = warrior
[submodule "base-image/poky"]
	path = base-image/poky
	url = git://git.yoctoproject.org/poky
	branch = warrior
[submodule "base-image/meta-raspberrypi"]
	path = base-image/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = warrior
[submodule "base-image/meta-qt5"]
	path = base-image/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = warrior
[submodule "base-image/meta-webkit"]
	path = base-image/meta-webkit
	url = https://github.com/Igalia/meta-webkit
	branch = master
